<html>

<head>
    <title>My iris-ws</title>
</head>

<body>
<div id="messages" style="border-width:1px;border-style:solid;height:400px;width:375px;">

</div>
<input type="text" id="messageTxt" />
<button type="button" id="sendBtn">Send</button>
<script type="text/javascript">
    //var HOST = {{.Host}
</script>
<script src="js/vendor/jquery-2.2.3.min.js" type="text/javascript"></script>
<!-- /myiris-ws.js is served automatically by the server -->
<script src="/iris-ws.js" type="text/javascript"></script>
<!-- -->
<script src="js/chat.js" type="text/javascript"></script>
</body>

</html>